h1 {
    text-align: center;
    margin-bottom:2%;
}

#devour {
    position:relative;
    bottom:5px
}

#displayBurger li {
     list-style: none;
	background-image: url("../img/burger-flat.png"); 
    background-size: contain;
    background-repeat: no-repeat;
    padding:5px;
    
}

.display_title{
    margin-left: 15%;
    display: inline;
    
}
/* #displayBurger div{
    font-size: 14pt;
} */

#displayAteBurger li {
     list-style: none;
	background-image: url("../img/happy.png"); 
    background-size: contain;
    background-repeat: no-repeat;
    padding:5px;
    opacity: 0.7;

}
#displayAteBurger .panel-title
{
    text-align: center;
}

img{
    display:block;
    width:15%;
    margin:0 auto;
}

body{
    background-color: #ffe7c4;
}

.well{
    margin-bottom:2%;
    border:0;
    padding:10px;
    overflow: hidden;
}

.panel ul{
    padding-left:10px;
}

.navbar-brand{
    padding: 5px 15px;
}

.hidden {
  display: none;
}

.noCustomer {
    display:inline;
    float: right; 
    width: 30%; 
    border:1px solid #bbb;
}

td, th{
    border-color:#c9542f !important;
    text-align: center;
}

table{
    table-layout: fixed;
    
}